
:root {
  --covered-color: blue;
}
.cell{
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  border: black 1px solid; 
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.covered{
  background-color: var(--covered-color); 
  color: var(--covered-color);
  animation-name: cover; 
  animation-duration:2s;  
}
@keyframes cover {
  from {background-color:red}
  to{background-color:var(--covered-color)}
}

.selectable{
  cursor: pointer;
}

.stone {
    background-color: orange;
    border:none; 
} 

.uncovered{
  background: #fff;
}

.uncoveredBomb{
  background: rgb(250, 4, 4);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
.uncovered:focus {
  outline: none;
}


