
.container {
   display:flex; 
   width:100%;
   text-align: center;
   background-color:red; 
}

.grid {
  flex:1; 
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.kbd-navigation .square:focus {
  background: #ddd;
}


