
.container {
   display:flex; 
   width:100%;
   text-align: center;
   background-color:blue; 
    flex-wrap: nowrap; 
}

.grid {
  flex:1; 
  flex-wrap: nowrap; 
}

.board-row{
    display:flex; 
    flex-wrap: nowrap; 
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
  margin-bottom: 10px;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.debug {
  background-color:white; 

}

